.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 24px;
}

.notesList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(380px, 1fr));
  grid-template-rows: auto;
  gap: 24px;
}

.empty {
  width: 250px;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .container {
    padding: 16px;
  }

  .notesList {
    grid-template-columns: 1fr;
    gap: 16px;
  }
}
